<!-- ******ABOUT****** -->
<section id="about" class="about section">
  <div class="container">
    <h2 class="title text-center">What we do</h2>
    <h3 class="text-center">We offer our skills and creativity to carry out your project.</h3>
    <p class="intro text-center">Cronusoft is a Latin American <strong>software development</strong> startup specializing in creating top quality solutions with cutting edge technology.</p>
    <div class="row">
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-heart"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">UX Centered Design</h3>
          <p>We provide engaging interactive experiences for your customers.</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Time saver</h3>
          <p>We help our customers drive revenue by unlocking potential revenue streams in their data.</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-crosshairs"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Technology</h3>
          <p>We solve problems with the most effective technology to meet your needs.</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="clearfix visible-md"></div>
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-tablet"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Flexibility</h3>
          <p>We provide flexibility so that our teams adapt to different working scenarios.</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-code"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">Life Cycle</h3>
          <p>We take part in all aspects of the project life cycle.</p>
        </div><!--//content-->
      </div><!--//item-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//about-->
