<section id="benefits" class="section banner">
  <div class="row">
    <div class="col-md-2">
      Our nearshore model provides you with the best value for your investment
    </div>
    <div class="col-md-2">
      Highly educated, English speaking IT professionals.
    </div>
    <div class="col-md-2">
      Our time zones align. We are available through your regular workday for continuous collaboration with your team.
    </div>
    <div class="col-md-2">
      Your projects have a better likelihood for achieving success with higher quality when your teams collaborate closely.
    </div>
    <div class="col-md-2">
      Our “Near-Shore” model assures you have access to your team in your time zone, with highly experienced English-speaking project leads and manager that are readily available via Skype.
    </div>
    <div class="col-md-2">
     Avoid frustrations with “follow the sun” offshore models that require late night and early morning calls. Additionally, when appropriate, we can travel to your offices.
    </div>
  </div>
</section>
