<!-- ******FEATURES****** -->
<section id="features" class="features section">
  <div class="container text-center">
    <h2 class="title text-center">Technologies we love and specialize in</h2>
    <p class="intro text-center">But not limited to!</p>
    <ul class="feature-list list-unstyled">
      <li><i class="fa fa-android"></i> <span class="feature">Mobile</span> (Android, iOS, React Native, Ionic)</li>
      <li><i class="fa fa-html5"></i> <span class="feature">Web</span> (HTML5, CSS3, React, AngularJS, .NET)</li>
      <li><i class="fa fa-cloud"></i> <span class="feature">API</span> (NodeJS, Ruby on Rails, NoSql)</li>
    </ul>
  </div><!--//container-->
</section><!--//features-->
