<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a class="scrollto" href="#promo">
        <div class="logo-title">
          <span class="logo-cronu">
            <span class="logo-capital-letter"><img class="logo-start" src="images/logo/logo_white.png" height="20"><img class="logo-fixed" src="images/logo/logo_black.png" height="20"></span>
          <span
            class="logo-text logo-ronu">ronu</span><span class="logo-soft logo-text">Soft</span>
            </span>
        </div>
      </a>
    </h1>
    <!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--//nav-toggle-->
      </div>
      <!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
          <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
          <li class="nav-item"><a class="scrollto" href="#process">Process</a></li>
          <li class="nav-item"><a class="scrollto" href="#team">Team</a></li>
          <li class="nav-item last"><a class="scrollto" href="#contact">Contact</a></li>
        </ul>
        <!--//nav-->
      </div>
      <!--//navabr-collapse-->
    </nav>
    <!--//main-nav-->
  </div>
</header>
<!--//header-->
