<section id="portfolio" class="portfolio section">
  <div class="container">
    <h2 class="title text-center">Portfolio</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/portfolio/elcronista.png" alt="El Cronista Comercial">
          </div>
          <div class="caption">
            <h3>El Cronista Comercial</h3>
            <p>Implementation of an e-commerce, integrating with MercadoPago, AFIP and internal systems.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/portfolio/consuladoperu.png" alt="Consulado General del Peru">
          </div>
          <div class="caption">
            <h3>Consulado General del Peru</h3>
            <p>Consulting services. Installation of new hardware of the embassy.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/portfolio/grupotluaner.png" alt="Grupo Tluaner">
          </div>
          <div class="caption">
            <h3>Grupo Tluaner</h3>
            <p>Development of a web application for car fleet managment including electronic receipts. Backend in NodeJS and
              frontend in AngularJS.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/portfolio/nyu.png" alt="New York University">
          </div>
          <div class="caption">
            <h3>New York University</h3>
            <p>Development of an API using Box Webhooks to synchronize user permissions using Ruby (Sinatra). Development of
              a script to migrate files from legacy platform to box cloud using Ruby.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/portfolio/guiaoleo.png" alt="Guia Oleo">
          </div>
          <div class="caption">
            <h3>Guia Oleo</h3>
            <p>Participated in the reimplementation the platform, including API, Web application and mobile applications.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/portfolio/addidasreebok.png" alt="Addidas & Rebook retailers">
          </div>
          <div class="caption">
            <h3>Addidas & Rebook retailers</h3>
            <p>Development of web e-commerce for retailers. Application in Ionic, Web in AngularJS.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
