<section id="process" class="process section">
  <div class="container">
    <h2 class="title text-center">How we do it</h2>
    <p class="intro text-center">We believe <strong>communication</strong> is the key to success and combined with the appropiate <strong>skills</strong> there is no limit to what we can accomplish as a team.</p>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/process/communication.jpg" alt="Communication">
          </div>
          <div class="caption">
            <h3>Communication</h3>
            <p>Frequent interactions with our clients assures higher quality software through project <strong>transparency</strong>. The client is involved throughout the entire process, is aware of project status and <strong>feedback</strong> is collected frequently.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/process/agile.png" alt="Agile">
          </div>
          <div class="caption">
            <h3>Agile</h3>
            <p>Agile methodology allows us to deliver <strong>working software</strong> often. There are no suprises when we apply Agile, so the product can be delivered in a safe and timely manner, ensuring <strong>high quality</strong> results throughout our engagement.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <div class="image-container">
            <img src="images/process/business.jpg" alt="Business">
          </div>
          <div class="caption">
            <h3>Business</h3>
            <p>Prioritized backlog of user stories assures we are working the <strong>most important items</strong> for your business first.</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
