<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="main-content container text-center">
    <h2 class="title">
      <span>
        <span><img src="images/logo/logo_black.svg" class="logo-img" height="90"></span><span class="">ronu</span><span class="team">Soft</span>
      </span>
    </h2>
    <p class="intro"></p>
    <div class="btns">
      <a class="btn btn-cta-secondary scrollto" href="#about">Learn more</a>
      <a class="btn btn-cta-primary scrollto" href="#contact">Contact us</a>
    </div>
  </div><!--//container-->
  {% include social-media.html %}
</section><!--//promo-->
