<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="main-content container text-center">
    <h2 class="title">
      <span class="mate">
        <span class="logo-capital-letter"><img src="images/logo/cronusoft-C.svg" width="108" height="108"></span><span class="hidden-xs">ronu</span>
        <span class="floating-t"><img src="images/logo/cronusoft-C.svg" width="108" height="108"></span>
      </span>
      <span class="team">
        <span class="floating-m"><img src="images/logo/cronusoft-S.svg" width="108" height="108"></span>
        <span class="logo-capital-letter"><img src="images/logo/cronusoft-S.svg" width="108" height="108"></span><span class="hidden-xs">oft</span>
      </span>
    </h2>
    <p class="intro"></p>
    <div class="btns">
      <a class="btn btn-cta-secondary scrollto" href="#about">Learn more</a>
      <a class="btn btn-cta-primary scrollto" href="#contact">Contact us</a>
    </div>
  </div><!--//container-->
  {% include social-media.html %}
</section><!--//promo-->
