<div class="social-media">
  <div class="social-media-inner container text-center">
    <ul class="list-inline">
      <!-- <li class="twitter-follow"><a href="https://twitter.com/CronusoftOK" class="twitter-follow-button" data-show-count="false">Follow @CronusoftOK</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li> --><!--//twitter-follow-->
      <li class="twitter-tweet">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="CronusoftOK">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li><!--//twitter-tweet-->
      <li class="facebook-like">
        <div class="fb-like" data-href="https://web.facebook.com/cronusoftOK/" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
      </li><!--//facebook-like-->
      <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
      <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=Cronusoft&repo=Cronusoft.github.io&type=watch&count=false" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
      <!-- Google Plus -->
      <!-- <div class="g-plusone" data-size="medium"></div> -->
    </ul>
  </div>
</div>
