<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
{% include head.html %}
<body data-spy="scroll">
  {% include social-media-scripts.html %}
  {% include header.html %}
  {% include promo.html %}
  {% include about.html %}
  {% include process.html %}
  {% include features.html %}
  {% include team.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include google-analytics.html %}
</body>
</html>
